.home {
  background: linear-gradient(180deg, rgba(255, 144, 144, 0.76) 40%, rgba(241, 113, 241, 0.749) 50%, rgba(121, 121, 198, 0.667) 70%);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
  padding-top: 100px;
  padding-bottom: 50px;
  text-align: center;
  
}

.search {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  background-color: aliceblue;
  border: 2px solid #c83939;
  padding: 20px;
  border-radius: 5px;
  width: 200px;
  height: 50px;
  margin: auto;
}

/* Add the following CSS for results and pagination */

/* Styles for results section */
.results {
    margin-top: 20px;
    padding: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

/* Pagination Styles */
.pagination {
    margin-top: 20px;
}

.pagination button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
}
.questions-list {
  margin-top: 20px;
}

.question-card {
  background-color: #d5d5eb;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
  transition: transform 0.2s;
}

.question-card:hover {
  transform: scale(1.05);
}

.question-title {
  font-size: 1.2em;
  font-weight: bold;
}

.question-type {
  color: #555;
  font-style: italic;
}

.mcq-options {
  margin-top: 10px;
}

.mcq-option {
  margin-bottom: 8px;
}

.anagram {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.read-along {
  margin-top: 10px;
  font-style: italic;
}
